<!DOCTYPE HTML>
<html>
	<head>
		<title>Main Page</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag "application" %>
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet" type="text/css" />
		<!--[if lte IE 8]><%= javascript_include_tag "html5shiv.js" %><![endif]-->
		<%= javascript_include_tag "application" %>

	</head>
	<body>

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><%= link_to image_tag("avatar.jpg", alt: "")%></span>
							<h1 id="title">YuChen Qian</h1>
							<p>1B Computer Engineering</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--

								Prologue's nav expects links in one of two formats:

								1. Hash link (scrolls to a different section within the page)

								   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

								2.Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

							-->
							<ul>
								<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
								<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
								<li><a href="#project" id="project-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Projects</span></a></li>
								<li><a href="#resume" id="resume-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Resume</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="/articles"><span class="icon fa-file-text"><span class="label">Blog</span></a></li>
							<li><a href="https://www.facebook.com/profile.php?id=100005195282448" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://github.com/YuChen-Qian" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="mailto:clydeqian@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">
			<%= yield %>

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Hi! I'm <strong>YuChen Qian</strong>
							</header>

							<footer>
								<a href="#about" class="button scrolly">About Me</a>
							</footer>

						</div>
					</section>
				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>
<!--
							<a href="#" class="image featured"><%= link_to image_tag("pic08.jpg", alt: "")%></a>
-->
							<p>I am a student in Computer Engineering at University of Waterloo and this is my personal blog where I will post my projects, comments about tech, programming, music, and probably some other random stuff. Hope you will find it interesting:)</p>
						</div>
					</section>

				<!-- Projects -->
					<section id="project" class="two">
						<div class="container">

							<header>
								<h2>Projects</h2>
							</header>
							<a href = "https://github.com/YuChen-Qian/Sudoku"><h3>Sudoku
							</h3></a>
							<p>A <a href = "https://github.com/YuChen-Qian/Sudoku/blob/master/SudokuSolver.c">Sudoku Solver</a> written in C and a <a href = "https://github.com/YuChen-Qian/Sudoku/blob/master/SudokuGenerator.cpp">Sudoku Generator</a> written in C++</p>
							<a href = "https://github.com/YuChen-Qian/Templates"><h3>Templates</h3></a>
							<p>Some basic data structures that I implemented in C++. It includes a <a href = "https://github.com/YuChen-Qian/Templates/blob/master/list.cpp">linked list</a>, <a href = "https://github.com/YuChen-Qian/Templates/blob/master/vector.cpp">vector</a>, <a href = "https://github.com/YuChen-Qian/Templates/blob/master/Queue.cpp">queue</a>, and <a href = "https://github.com/YuChen-Qian/Templates/blob/master/stack.cpp">stack</a></p>
							<a href = "https://github.com/YuChen-Qian/Blog"><h3>Blog
							</h3></a>
							<p>Of course, this website itself is built on Ruby on Rails, and here is its <a href = "https://github.com/YuChen-Qian/Blog">source code</a>

						</div>
					</section>


				<!-- Resume -->
					<section id="resume" class="four">
						<div class="container">

							<header>
								<h2>Resume</h2>
							</header>

							<p>Here is my Resume:)</p>
							<%= link_to "Read my Resume", "/Resume.pdf" %>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>Built with Ruby on Rails</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>
	</body>
</html>