<!DOCTYPE HTML>
<html>
  <head>
    <title>Blog</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]><%= javascript_include_tag "html5shiv.js" %><![endif]-->
    <%= javascript_include_tag "application" %>

  </head>
  <body>
    <!-- Header -->
      <div id="header">

        <div class="top">

          <!-- Logo -->
            <div id="logo">
              <span class="image avatar48"><%= link_to image_tag("avatar.jpg", alt: "")%></span>
              <h1 id="title">YuChen Qian</h1>
              <p>Software Engineer</p>
            </div>

          <!-- Nav -->
            <nav id="nav">
              <ul>
                <% @articles.each_with_index do |article, index| %>
                  <li><a href="#<%= index %>" id="<%= index %>-link" class="skel-layers-ignoreHref"><span class="icon fa-book"><%= article.title %></span></a></li>
                <% end %>
              </ul>
            </nav>
        </div>
        <div class="bottom">

          <!-- Social Icons -->
            <ul class="icons">
              <li><a href="https://www.facebook.com/profile.php?id=100005195282448" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="https://github.com/YuChen-Qian" class="icon fa-github"><span class="label">Github</span></a></li>
              <li><a href="mailto:clydeqian@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </div>
      </div>
    <!-- Main -->
      <div id="main">
      <%= yield %>

      <!-- Articles -->
        <% @articles.each_with_index do |article, index| %>
          <section id="<%= index %>" class="<%=index%>">
          <!-- find a way to turn number into xxth-->
            <div class="container">
              <header><h2><%= article.title %></h2></header>
              <p><%= article.text %></p>
            </div>
        <% end %>
        </section>
      </div>

    <!-- Footer -->
      <div id="footer">

        <!-- Copyright -->
          <ul class="copyright">
            <li>Built with Ruby on Rails</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
      </div>
        <script src="/vendor/assets/javascripts/jquery.min.js"></script>
        <script src="/vendor/assets/javascripts/jquery.scrolly.min.js"></script>
        <script src="/vendor/assets/javascripts/jquery.scrollzer.min.js"></script>
        <script src="/vendor/assets/javascripts/skel.min.js"></script>
        <script src="/vendor/assets/javascripts/util.js"></script>-->
      <!--[if lte IE 8]><script src="assets/javascripts/ie/respond.min.js"></script><![endif]-->

      <script src="/vendor/assets/javascripts/main.js"></script>

    </body>
  </html>

<!--
<h1>Blog</h1>
<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
-->